@import "../../styles/mixins.scss";

.containerRecommended {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 0 auto;
  @include tablet {
    gap: 16px;
  }
}
.contentRecommended {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 0 auto;
  width: 100%;
  @include tablet {
    gap: 16px;
  }
  @include desktop {
    flex-direction: row;
    width: auto;
  }
}
